@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'roboto slab', serif;
}

.nav-bar {
    background-color: #333;
    overflow: hidden;
    padding: 10px;
    flex-direction: column;
   }

.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
  list-style-type: none;
}

.nav-bar a {
  color: #f2f2f2;
  text-align: center;
  padding: 22px 24px;
  text-decoration: none;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.first-section{
  background-color:  #3498ca;
  height: 50px;
}

.section-link{
  color: #E5E7EB;
  font-size: 18px;
  margin: 15px;
}

.second-section{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 40px;
}


   



h1 {
    color: red;
   }

 
   